<form action="/registrations/" method="post">
  <label for="email">
    <i class="fas fa-user"></i>
  </label>
  <input type="email" name="email" placeholder="email" id="email" required>
  <label for="password">
    <i class="fas fa-signature"></i>
  </label>
  <input type="text" name="first_name" placeholder="First Name" id="first_name" required>
  <label for="password">
    <i class="fa fa-pen"></i>
  </label>
  <input type="text" name="last_name" placeholder="Last Name" id="last_name" required>
  <label for="password">
    <i class="fas fa-lock"></i>
  </label>
  <input type="password" name="password" placeholder="Password" id="password" required>
  <label for="password">
    <i class="fas fa-lock"></i>
  </label>
  <input type="password" name="password_confirmation" placeholder="Password Confirmation" id="password_confirmation" required>
  <input type="submit" value="Create Account">
</form>
