<form action="/projects/<%= typeof(project) == 'undefined' ? '' : project.id  %>" method="post">
  <label for="name">
    <i class="fas fa-signature"></i>
  </label>
  <input type="text" name="name" placeholder="Project Name" id="name" required>
  <label for="company_id">
    <i class="fas fa-building"></i>
  </label>
  <select name="company_id" id="company_id">
    <% for (let i=0; i < companies.length; i++) { %>
      <option value="<%= companies[i].id %>"><%= companies[i].name %></option>
    <% } %>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
  <input type="submit" value="<%= typeof(project) == 'undefined' ? 'Create Project' : 'Update Project'  %>">
</form>
